.låda{
  height:500px;
  width:1000px;
  background-color: purple;
  display: flex;
}
p.oga{
  font-family: "Lucida Console", "Courier New", monospace;
}
.button1{
  background-color: black;
  width:100px;
  height:100px;
}
